body {
    box-sizing: border-box;
    background-color: #c3e0de;
    color: rgba(0, 0, 0, 0.8);
}

input[type="text"], input[type="number"] {
    width: 100%;
    font-size: 1rem;
    padding: 4px;
}

button {
    padding: 8px 10px;
    margin-top: 10px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: all 0.15s ease-in-out;
}

button:hover {
    box-shadow: 2px 2px rgb(204, 203, 217);
    transform: translateY(-2px);
}

button:active {
    transform: translateY(2px);
}

.button-toggled-on {
    background-color: rgba(140, 163, 194, 0.8);
}

.main-title {
    text-align: center;
    margin: 2rem;
    font-size: 48px;
    color: rgba(9, 9, 9, 0.8);
}

#main-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.user-controls {
    font-size: larger;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    background-color: rgba(204, 203, 217, 0.5);
    padding: 2rem 3rem;
}

.user-controls:hover {
    background-color: rgba(162, 162, 168, 0.2);
}

.sketch-container {
    width: 580px;
    aspect-ratio: 1/1;
    margin: 2rem;
    border: 2rem solid rgba(204, 203, 217, 0.5);
    border-radius: 10px;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    gap: 0;
    user-select: none;
    -webkit-user-drag: none;
    background-color: rgb(255, 255, 255);
    box-shadow: 4px 4px rgba(204, 203, 217, 0.5);
}

.sketch-container:hover {
    border-color: rgba(162, 162, 168, 0.2);
}

.sketch-row {
    width: 100%;
    flex: 1 1 calc(100% / 16);
    display: flex;
    justify-content: row;
}

.sketch-pixel {
    height: 100%;
    flex: 1 1 calc(100% / 16);
    background-color: rgb(255, 255, 255);
}

.footer {
    text-align: center;
    margin: 2rem;
}