body {
    box-sizing: border-box;
    background-color: #c3e0de;
    color: rgba(0, 0, 0, 0.8);
}

input[type="text"], input[type="number"] {
    width: 100%;
    font-size: 1rem;
    padding: 4px;
}

.main-title {
    text-align: center;
    margin: 2rem;
    font-size: 48px;
    color: rgba(9, 9, 9, 0.8);
}

#main-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.user-controls {
    font-size: larger;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    background-color: rgba(204, 203, 217, 0.5);
    padding: 2rem 3rem;
}

.user-controls:hover {
    background-color: rgba(162, 162, 168, 0.2);
}

.sketch-container {
    width: 580px;
    aspect-ratio: 1/1;
    margin: 2rem;
    border: 2rem solid rgba(204, 203, 217, 0.5);
    border-radius: 10px;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    gap: 0;
    user-select: none;
    -webkit-user-drag: none;
    background-color: white;
    box-shadow: 4px 4px rgba(204, 203, 217, 0.5);
}

.sketch-row {
    width: 100%;
    flex: 1 1 calc(100% / 16);
    display: flex;
    justify-content: row;
}

.sketch-pixel {
    height: 100%;
    flex: 1 1 calc(100% / 16);
}

.black-pixel {
    background-color: black;
}